.select-box {
  display: inline-block;
  position: relative;
  width: 100%;
}
.select-box.mini .btn--select {
  min-width: 85px;
}
.select-box.top .drop-down {
  top: unset;
  bottom: calc(100% + 6px);
}

.select-box.text {
  width: auto;
}
.select-box.text .btn--select {
  min-width: 100px;
  width: auto;
  font-size: 14px;
  color: #D1D5DB;
  letter-spacing: -0.14px;
  border: none;
  background-color: transparent;
  text-underline-offset: 2px;
}
.select-box.text .btn--select:hover {
  color: #fff;
  text-decoration: underline;
  border-color: unset;
  outline: none;
}
.select-box.text.active .btn--select {
  color: #fff;
  text-decoration: underline;
  border-color: unset;
  outline: none;
}
.select-box .btn--select {
  width: 100%;
  min-width: 144px;
  min-width: 120px;
  height: 40px;
  position: relative;
  padding: 8px 36px 8px 10px;
  color: #FFF;
  font-size: 14px;
  text-align: left;
  border-radius: 6px;
  border: 1px solid #4E566E;
  background: #2A3244;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.select-box .btn--select::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%) rotate(0deg);
  background-image: url("../../image/ic/ic_arrow_down_default_line_normal_color01_28.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.select-box .btn--select:hover {
  border-color: rgba(84, 182, 232, 0.5);
  outline: solid 1px rgba(84, 182, 232, 0.5);
}
.select-box .btn--select.active {
  border-color: #54B6E8;
  outline: solid 1px #54B6E8;
}
.select-box .btn--select:disabled {
  opacity: 0.4;
  pointer-events: none;
}
.select-box .drop-down {
  display: none;
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #3A4357;
  background: #2A3244;
  overflow: hidden;
  z-index: 10;
}
.select-box .drop-down .active ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
}
.select-box .drop-down .select__item {
  flex-shrink: 0;
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #D1D5DB;
  border-radius: 4px;
}
.select-box .drop-down .select__item:hover {
  color: #fff;
  background-color: #4E566E;
}
.select-box .drop-down .select__item.selected {
  color: #FFF;
  background-color: #003986;
}
.select-box .drop-down .select__item.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.select-box .drop-down .select__item button {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: left;
  font-size: inherit;
  font-weight: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.select-box.active .btn--select {
  border-color: #54B6E8;
  outline: solid 1px #54B6E8;
}
.select-box.active .btn--select::before {
  transform: translateY(-50%) rotate(-180deg);
}
.select-box.active .drop-down {
  display: block;
}

.select-box.active .drop-down .ct-scroll {
  max-height: 212px;
}

/*# sourceMappingURL=selectBox.css.map */
