:root {
  //CONTENTS COLORS
  --blue-light: #54B6E8;
  --blue: #1F8DD5;
  --blue-medium: #137CC1;
  --blue-dark: #003986;

  --neutral-1: #F3F4F6;
  --neutral-2: #D1D5DB;
  --neutral-3: #9CA3AF;
  --neutral-4: #6B7280;
  --neutral-5: #4E566E;
  --neutral-6: #3A4357;
  --neutral-7: #2A3244;
  --neutral-75: #232B3B;
  --neutral-8: #1C2433;
  --neutral-9: #121826;
  --neutral-10: #0B0F17;

  --black: #141414;

  --error: #F7635C;
  --error-dark: #F2433D;
  --warning: #FFA133;
  --warning-dark: #E58F2D;
  --success: #2DCC90;
  --success-dark: #24B27D;
  --info: #4694F7;
  --info-dark: #3782E0;
}